.personal-info-wrapper {
  background-color: #f9f9f9;
  width: 60%;
  min-height: 100vh;
  .personal-info-container {
    display: flex;
    .navbar-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: auto;
      width: 83%;
      border-bottom: 1px solid #000;
    }
  }
  .form-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    margin: 0 auto;
    margin-top: 40px;
    width: 80%;
    .name-container {
      display: flex;
      justify-content: space-between;
      position: relative;
      span {
        position: absolute;
        top: 30px;
        margin-left: 390px;
      }
      .labelerror {
        color: rgb(230, 75, 75);
      }
      .error,
      .success {
        width: 100%;
        border-radius: 6px;
        outline: none;
        padding: 10px;
        font-family: HelveticaNeue;
      }
      .error {
        border: 2px solid rgb(230, 75, 75);
      }
      .success {
        border: 2px solid #98e37e;
      }
      div {
        width: 400px;
      }
    }
    .file-container {
      display: flex;
      align-items: center;
      gap: 40px;
    }
    .aboutme {
      display: flex;
      flex-direction: column;
      textarea {
        padding: 10px;
        font-size: 16px;
        font-weight: 600;
        font-family: HelveticaNeue;
      }
    }
    .mail-container {
      display: flex;
      flex-direction: column;
      position: relative;
      span {
        position: absolute;
        right: -15px;
        bottom: 56px;
      }
      .labelerror {
        color: rgb(230, 75, 75);
      }
      .error,
      .success {
        width: 100%;
        border-radius: 6px;
        outline: none;
        padding: 10px;
        font-family: HelveticaNeue;
      }
      .error {
        border: 2px solid rgb(230, 75, 75);
      }
      .success {
        border: 2px solid #98e37e;
      }
    }
    .phone-container {
      position: relative;
      span {
        position: absolute;
        right: -15px;
        bottom: 58px;
      }
      .labelerror {
        color: rgb(230, 75, 75);
      }
      .error,
      .success {
        width: 100%;
        border-radius: 6px;
        outline: none;
        padding: 10px;
        font-family: HelveticaNeue;
      }
      .error {
        border: 2px solid rgb(230, 75, 75);
      }
      .success {
        border: 2px solid #98e37e;
      }
    }
    .purple-button {
      position: absolute;
      bottom: -80px;
      right: -20px;
    }
  }
}
