.resume-review-container::-webkit-scrollbar {
  display: none;
}
.resume-review-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  border: 1px solid black;
  min-height: 80vh;

  margin-top: 30px;
  margin-bottom: 30px;
  overflow: scroll;
  width: 40%;

  .person-info-container {
    display: flex;
    justify-content: center;
    margin: 20px;
    .person-info-left {
      display: flex;
      flex-direction: column;
      width: 60%;
      .person-name-surname {
        p {
          font-size: 34px;
          font-weight: 700;
          color: #f93b1d;
        }
      }
      .person-contact {
        div {
          display: flex;
          margin-bottom: 10px;
          font-size: 18px;
        }
      }
      .person-about-me {
        .about-me-header {
          font-size: 20px;
          font-weight: 700;
          color: #f93b1d;
        }
        .about-me {
          width: 100%;
          line-break: anywhere;
        }
      }
    }
    .person-info-right {
      max-width: 40%;
      .person-image {
        width: 250px;
        height: 250px;
        border-radius: 200px;
      }
    }
  }
  .person-experience {
    display: flex;
    margin-left: 36px;
    margin-right: 34px;
    flex-direction: column;
    .person-experience-header {
      font-size: 20px;
      font-weight: 700;
      color: #f93b1d;
    }
    .person-experience-position {
      .position {
        font-weight: 600;
      }
      .dates {
        font-style: italic;
        color: #909090;
      }
    }
  }

  .logo-img {
    margin-left: 34px;
    margin-bottom: 34px;
  }

  i {
    color: #898989;
  }
  hr {
    width: 90%;
    margin: auto;
    border: 1px solid #c8c8c8;
  }
}
